<!DOCTYPE html>
<html>
	<body>
	 <div class="home">
		 <h1>results</h1>
		 <p>This website was built with Python via the Flask framework.</p>
		 <p>
			{% if age %}
				Age: {{ age }}</br>
			{% endif %}

			{% if gender %}
				Gender: {{ gender }}</br>
			{% endif %}

			{% if race %}
				Race: {{ race }}</br>
			{% endif %}

			{% if nationality %}
				Nationality: {{ nationality }}</br>
			{% endif %}

			{% if location %}
				Location: {{ location }}</br>
			{% endif %}
		</p>

		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		<div id="map-canvas" style="height: 100%; width: 100%"></div>
		<script type="text/javascript">
				var map;
				function show_map() {{
						map = new google.maps.Map(document.getElementById("map-canvas"), {{
								zoom: {zoom},
								center: new google.maps.LatLng({center_lat}, {center_lon}),
								mapTypeId: 'terrain'
						}});

						var activity_coordinates = [{activity_coordinates}]

						var activity_route = new google.maps.Polyline({{
								path: activity_coordinates,
								geodesic: true,
								strokeColor: '#FF0000',
								strokeOpacity: 1.0,
								strokeWeight: 2
								}});

								activity_route.setMap(map);
				}}
				google.maps.event.addDomListener(window, 'load', show_map);
		</script>
	 </div>
	</body>
</html>