<!-- {% if name %}
    Hello {{ name }}
{% endif %} -->
<h2>How do you want to filter your search?</h2>
<form method="POST">
<select name="age">
  <option value="na">Select Age</option>
  <option value="children">Children (Below 14)</option>
  <option value="teen">Teen (14 - 20)</option>
  <option value="adult">Adult (21 - 64)</option>
  <option value="senior">Senior (65 and above)</option>
</select></br></br>
<select name="gender">
	<option value="na">Select Gender</option>
  <option value="male">Male</option>
  <option value="female">Female</option>
</select></br></br>
<select name="race">
	<option value="na">Select Race</option>
  <option value="chinese">Chinese</option>
  <option value="eurasian">Eurasian</option>
  <option value="indian">Indian</option>
  <option value="malay">Malay</option>
  <option value="others">Others</option>
</select></br></br>
<select name="nationality">
	<option value="na">Select Nationality</option>
  <option value="singaporean">Singaporean</option>
  <option value="non-singaporean">Non-Singaporean</option>
</select></br></br>
<select name="location">
	<option value="na">Select Location</option>
	<option value="SBSZ05">ADMIRALTY</option>
	<option value="PLSZ04">AIRPORT ROAD</option>
	<option value="BMSZ07">ALEXANDRA HILL</option>
	<option value="BMSZ06">ALEXANDRA NORTH</option>
	<option value="GLSZ04">ALJUNIED</option>
	<option value="BTSZ01">ANAK BUKIT</option>
	<option value="SESZ04">ANCHORVALE</option>
	<option value="AMSZ01">ANG MO KIO TOWN CENTRE</option>
	<option value="DTSZ10">ANSON</option>
	<option value="NVSZ01">BALESTIER</option>
	<option value="BPSZ04">BANGKIT</option>
	<option value="DTSZ12">BAYFRONT SUBZONE</option>
	<option value="BDSZ08">BAYSHORE</option>
	<option value="BDSZ04">BEDOK NORTH</option>
	<option value="BDSZ02">BEDOK RESERVOIR</option>
	<option value="BDSZ06">BEDOK SOUTH</option>
	<option value="RCSZ09">BENCOOLEN</option>
	<option value="KLSZ01">BENDEMEER</option>
	<option value="PNSZ03">BENOI SECTOR</option>
	<option value="TPSZ10">BIDADARI</option>
	<option value="BSSZ03">BISHAN EAST</option>
	<option value="SRSZ03">BOAT QUAY</option>
	<option value="KLSZ03">BOON KENG</option>
	<option value="JWSZ02">BOON LAY PLACE</option>
	<option value="TPSZ04">BOON TECK</option>
	<option value="ORSZ02">BOULEVARD</option>
	<option value="TPSZ03">BRADDELL</option>
	<option value="MUSZ03">BRAS BASAH</option>
	<option value="BKSZ03">BRICKWORKS</option>
	<option value="DTSZ01">BUGIS</option>
	<option value="BKSZ07">BUKIT BATOK CENTRAL</option>
	<option value="BKSZ08">BUKIT BATOK EAST</option>
	<option value="BKSZ09">BUKIT BATOK SOUTH</option>
	<option value="BKSZ06">BUKIT BATOK WEST</option>
	<option value="BMSZ09">BUKIT HO SWEE</option>
	<option value="BMSZ02">BUKIT MERAH</option>
	<option value="NTSZ04">CAIRNHILL</option>
	<option value="DTSZ08">CECIL</option>
	<option value="DTSZ11">CENTRAL SUBZONE</option>
	<option value="CCSZ01">CENTRAL WATER CATCHMENT</option>
	<option value="CHSZ03">CHANGI AIRPORT</option>
	<option value="CBSZ01">CHANGI BAY</option>
	<option value="CHSZ01">CHANGI POINT</option>
	<option value="CHSZ02">CHANGI WEST</option>
	<option value="TNSZ02">CHATSWORTH</option>
	<option value="AMSZ02">CHENG SAN</option>
	<option value="JWSZ05">CHIN BEE</option>
	<option value="OTSZ04">CHINA SQUARE</option>
	<option value="OTSZ03">CHINATOWN</option>
	<option value="CKSZ03">CHOA CHU KANG CENTRAL</option>
	<option value="CKSZ05">CHOA CHU KANG NORTH</option>
	<option value="AMSZ03">CHONG BOON</option>
	<option value="DTSZ02">CITY HALL</option>
	<option value="BMSZ17">CITY TERMINALS</option>
	<option value="SRSZ02">CLARKE QUAY</option>
	<option value="CLSZ06">CLEMENTI CENTRAL</option>
	<option value="CLSZ04">CLEMENTI NORTH</option>
	<option value="CLSZ08">CLEMENTI WEST</option>
	<option value="CLSZ07">CLEMENTI WOODS</option>
	<option value="DTSZ06">CLIFFORD PIER</option>
	<option value="QTSZ03">COMMONWEALTH</option>
	<option value="SESZ05">COMPASSVALE</option>
	<option value="PGSZ07">CONEY ISLAND</option>
	<option value="BTSZ06">CORONATION ROAD</option>
	<option value="KLSZ09">CRAWFORD</option>
	<option value="BPSZ06">DAIRY FARM</option>
	<option value="HGSZ09">DEFU INDUSTRIAL PARK</option>
	<option value="BMSZ12">DEPOT ROAD</option>
	<option value="MUSZ01">DHOBY GHAUT</option>
	<option value="QTSZ10">DOVER</option>
	<option value="NVSZ04">DUNEARN</option>
	<option value="MPSZ04">EAST COAST</option>
	<option value="BMSZ16">EVERTON PARK</option>
	<option value="CLSZ03">FABER</option>
	<option value="BPSZ03">FAJAR</option>
	<option value="BTSZ08">FARRER COURT</option>
	<option value="RCSZ01">FARRER PARK</option>
	<option value="SESZ06">FERNVALE</option>
	<option value="PRSZ08">FLORA DRIVE</option>
	<option value="MUSZ02">FORT CANNING</option>
	<option value="BDSZ05">FRANKEL</option>
	<option value="SKSZ03">GALI BATU</option>
	<option value="KLSZ02">GEYLANG BAHRU</option>
	<option value="GLSZ05">GEYLANG EAST</option>
	<option value="QTSZ01">GHIM MOH</option>
	<option value="BKSZ01">GOMBAK</option>
	<option value="NTSZ02">GOODWOOD PARK</option>
	<option value="WDSZ07">GREENWOOD PARK</option>
	<option value="BKSZ04">GUILIN</option>
	<option value="PNSZ04">GUL BASIN</option>
	<option value="PNSZ02">GUL CIRCLE</option>
	<option value="BMSZ08">HENDERSON HILL</option>
	<option value="BTSZ05">HILLCREST</option>
	<option value="BKSZ05">HILLVIEW</option>
	<option value="QTSZ02">HOLLAND DRIVE</option>
	<option value="BTSZ03">HOLLAND ROAD</option>
	<option value="JWSZ03">HONG KAH</option>
	<option value="BKSZ02">HONG KAH NORTH</option>
	<option value="HGSZ01">HOUGANG CENTRAL</option>
	<option value="HGSZ03">HOUGANG EAST</option>
	<option value="HGSZ04">HOUGANG WEST</option>
	<option value="RVSZ05">INSTITUTION HILL</option>
	<option value="JESZ06">INTERNATIONAL BUSINESS PARK</option>
	<option value="NTSZ06">ISTANA NEGARA</option>
	<option value="BPSZ05">JELEBU</option>
	<option value="PNSZ01">JOO KOON</option>
	<option value="TPSZ12">JOO SENG</option>
	<option value="JESZ05">JURONG GATEWAY</option>
	<option value="WISZ01">JURONG ISLAND AND BUKOM</option>
	<option value="JESZ09">JURONG PORT</option>
	<option value="JESZ07">JURONG RIVER</option>
	<option value="JWSZ09">JURONG WEST CENTRAL</option>
	<option value="BDSZ01">KAKI BUKIT</option>
	<option value="KLSZ08">KALLANG BAHRU</option>
	<option value="GLSZ01">KALLANG WAY</option>
	<option value="KLSZ04">KAMPONG BUGIS</option>
	<option value="RCSZ05">KAMPONG GLAM</option>
	<option value="KLSZ07">KAMPONG JAVA</option>
	<option value="BMSZ11">KAMPONG TIONG BAHRU</option>
	<option value="GLSZ03">KAMPONG UBI</option>
	<option value="HGSZ02">KANGKAR</option>
	<option value="MPSZ02">KATONG</option>
	<option value="CKSZ02">KEAT HONG</option>
	<option value="AMSZ06">KEBUN BAHRU</option>
	<option value="BDSZ03">KEMBANGAN</option>
	<option value="QTSZ12">KENT RIDGE</option>
	<option value="YSSZ08">KHATIB</option>
	<option value="JWSZ06">KIAN TECK</option>
	<option value="TPSZ07">KIM KEAT</option>
	<option value="HGSZ06">KOVAN</option>
	<option value="SKSZ01">KRANJI</option>
	<option value="JESZ04">LAKESIDE</option>
	<option value="KLSZ06">LAVENDER</option>
	<option value="BTSZ07">LEEDON PARK</option>
	<option value="RVSZ03">LEONIE HILL</option>
	<option value="LKSZ01">LIM CHU KANG</option>
	<option value="RCSZ02">LITTLE INDIA</option>
	<option value="BLSZ02">LIU FANG</option>
	<option value="TPSZ05">LORONG 8 TOA PAYOH</option>
	<option value="HGSZ07">LORONG AH SOO</option>
	<option value="SGSZ05">LORONG CHUAN</option>
	<option value="HGSZ10">LORONG HALUS</option>
	<option value="SESZ01">LORONG HALUS NORTH</option>
	<option value="YSSZ05">LOWER SELETAR</option>
	<option value="PRSZ07">LOYANG EAST</option>
	<option value="PRSZ06">LOYANG WEST</option>
	<option value="RCSZ06">MACKENZIE</option>
	<option value="GLSZ02">MACPHERSON</option>
	<option value="NVSZ03">MALCOLM</option>
	<option value="MDSZ02">MANDAI EAST</option>
	<option value="MDSZ03">MANDAI ESTATE</option>
	<option value="MDSZ01">MANDAI WEST</option>
	<option value="QTSZ05">MARGARET DRIVE</option>
	<option value="DTSZ03">MARINA CENTRE</option>
	<option value="MESZ01">MARINA EAST</option>
	<option value="MSSZ01">MARINA SOUTH</option>
	<option value="MPSZ03">MARINE PARADE</option>
	<option value="BMSZ01">MARITIME SQUARE</option>
	<option value="BSSZ02">MARYMOUNT</option>
	<option value="PGSZ03">MATILDA</option>
	<option value="DTSZ07">MAXWELL</option>
	<option value="QTSZ06">MEI CHIN</option>
	<option value="WDSZ02">MIDVIEW</option>
	<option value="NVSZ02">MOULMEIN</option>
	<option value="RCSZ07">MOUNT EMILY</option>
	<option value="NVSZ05">MOUNT PLEASANT</option>
	<option value="MPSZ01">MOUNTBATTEN</option>
	<option value="TNSZ01">NASSIM</option>
	<option value="BPSZ07">NATURE RESERVE</option>
	<option value="YSSZ07">NEE SOON</option>
	<option value="NTSZ03">NEWTON CIRCUS</option>
	<option value="WDSZ09">NORTH COAST</option>
	<option value="YSSZ02">NORTHLAND</option>
	<option value="PGSZ01">NORTHSHORE</option>
	<option value="QTSZ08">ONE NORTH</option>
	<option value="RVSZ01">ONE TREE HILL</option>
	<option value="NTSZ01">ORANGE GROVE</option>
	<option value="RVSZ04">OXLEY</option>
	<option value="CLSZ09">PANDAN</option>
	<option value="SKSZ04">PANG SUA</option>
	<option value="QTSZ13">PASIR PANJANG 1</option>
	<option value="QTSZ14">PASIR PANJANG 2</option>
	<option value="PRSZ03">PASIR RIS CENTRAL</option>
	<option value="PRSZ05">PASIR RIS DRIVE</option>
	<option value="PRSZ04">PASIR RIS PARK</option>
	<option value="PRSZ01">PASIR RIS WAFER FAB PARK</option>
	<option value="PRSZ02">PASIR RIS WEST</option>
	<option value="RVSZ02">PATERSON</option>
	<option value="PLSZ02">PAYA LEBAR EAST</option>
	<option value="PLSZ01">PAYA LEBAR NORTH</option>
	<option value="PLSZ03">PAYA LEBAR WEST</option>
	<option value="TPSZ06">PEI CHUN</option>
	<option value="CKSZ04">PENG SIANG</option>
	<option value="JESZ10">PENJURU CRESCENT</option>
	<option value="DTSZ04">PHILLIP</option>
	<option value="PNSZ05">PIONEER SECTOR</option>
	<option value="PLSZ05">PLAB</option>
	<option value="QTSZ15">PORT</option>
	<option value="TPSZ09">POTONG PASIR</option>
	<option value="SLSZ02">PULAU PUNGGOL BARAT</option>
	<option value="SLSZ03">PULAU PUNGGOL TIMOR</option>
	<option value="SMSZ04">PULAU SELETAR</option>
	<option value="PGSZ06">PUNGGOL CANAL</option>
	<option value="PGSZ04">PUNGGOL FIELD</option>
	<option value="PGSZ02">PUNGGOL TOWN CENTRE</option>
	<option value="QTSZ07">QUEENSWAY</option>
	<option value="DTSZ05">RAFFLES PLACE</option>
	<option value="BMSZ03">REDHILL</option>
	<option value="SKSZ05">RESERVOIR VIEW</option>
	<option value="TNSZ03">RIDOUT</option>
	<option value="SESZ02">RIVERVALE</option>
	<option value="SRSZ01">ROBERTSON QUAY</option>
	<option value="RCSZ04">ROCHOR CANAL</option>
	<option value="JWSZ07">SAFTI</option>
	<option value="BLSZ03">SAMULUN</option>
	<option value="BPSZ02">SAUJANA</option>
	<option value="RCSZ08">SELEGIE</option>
	<option value="SLSZ04">SELETAR</option>
	<option value="SLSZ01">SELETAR AEROSPACE PARK</option>
	<option value="SGSZ01">SELETAR HILLS</option>
	<option value="WISZ02">SEMAKAU</option>
	<option value="SBSZ03">SEMBAWANG CENTRAL</option>
	<option value="SBSZ01">SEMBAWANG EAST</option>
	<option value="AMSZ07">SEMBAWANG HILLS</option>
	<option value="SBSZ04">SEMBAWANG NORTH</option>
	<option value="SBSZ02">SEMBAWANG SPRINGS</option>
	<option value="SBSZ06">SEMBAWANG STRAITS</option>
	<option value="SESZ03">SENGKANG TOWN CENTRE</option>
	<option value="SESZ07">SENGKANG WEST</option>
	<option value="BPSZ01">SENJA</option>
	<option value="TPSZ11">SENNETT</option>
	<option value="SBSZ08">SENOKO NORTH</option>
	<option value="SBSZ09">SENOKO SOUTH</option>
	<option value="WDSZ08">SENOKO WEST</option>
	<option value="SISZ01">SENTOSA</option>
	<option value="SGSZ06">SERANGOON CENTRAL</option>
	<option value="SGSZ04">SERANGOON GARDEN</option>
	<option value="SGSZ03">SERANGOON NORTH</option>
	<option value="SGSZ02">SERANGOON NORTH IND ESTATE</option>
	<option value="BLSZ04">SHIPYARD</option>
	<option value="BDSZ07">SIGLAP</option>
	<option value="TMSZ04">SIMEI</option>
	<option value="SMSZ01">SIMPANG NORTH</option>
	<option value="SMSZ03">SIMPANG SOUTH</option>
	<option value="BMSZ05">SINGAPORE GENERAL HOSPITAL</option>
	<option value="QTSZ09">SINGAPORE POLYTECHNIC</option>
	<option value="ORSZ03">SOMERSET</option>
	<option value="SISZ02">SOUTHERN GROUP</option>
	<option value="YSSZ06">SPRINGLEAF</option>
	<option value="SVSZ01">STRAITS VIEW</option>
	<option value="WISZ03">SUDONG</option>
	<option value="RCSZ03">SUNGEI ROAD</option>
	<option value="CLSZ02">SUNSET WAY</option>
	<option value="BTSZ02">SWISS CLUB</option>
	<option value="AMSZ08">TAGORE</option>
	<option value="HGSZ08">TAI SENG</option>
	<option value="JWSZ04">TAMAN JURONG</option>
	<option value="TMSZ02">TAMPINES EAST</option>
	<option value="TMSZ01">TAMPINES NORTH</option>
	<option value="TMSZ03">TAMPINES WEST</option>
	<option value="ORSZ01">TANGLIN</option>
	<option value="QTSZ04">TANGLIN HALT</option>
	<option value="SMSZ02">TANJONG IRAU</option>
	<option value="DTSZ09">TANJONG PAGAR</option>
	<option value="KLSZ05">TANJONG RHU</option>
	<option value="JESZ08">TEBAN GARDENS</option>
	<option value="CKSZ01">TECK WHYE</option>
	<option value="BMSZ13">TELOK BLANGAH DRIVE</option>
	<option value="BMSZ15">TELOK BLANGAH RISE</option>
	<option value="BMSZ14">TELOK BLANGAH WAY</option>
	<option value="THSZ01">TENGAH</option>
	<option value="TSSZ01">TENGEH</option>
	<option value="SBSZ07">THE WHARVES</option>
	<option value="BMSZ10">TIONG BAHRU</option>
	<option value="BMSZ04">TIONG BAHRU STATION</option>
	<option value="TPSZ02">TOA PAYOH CENTRAL</option>
	<option value="TPSZ01">TOA PAYOH WEST</option>
	<option value="JESZ03">TOH GUAN</option>
	<option value="CLSZ01">TOH TUCK</option>
	<option value="AMSZ04">TOWNSVILLE</option>
	<option value="HGSZ05">TRAFALGAR</option>
	<option value="TSSZ04">TUAS BAY</option>
	<option value="TSSZ03">TUAS NORTH</option>
	<option value="TSSZ02">TUAS PROMENADE</option>
	<option value="TSSZ05">TUAS VIEW</option>
	<option value="TSSZ06">TUAS VIEW EXTENSION</option>
	<option value="BLSZ01">TUKANG</option>
	<option value="SKSZ02">TURF CLUB</option>
	<option value="TNSZ04">TYERSALL</option>
	<option value="BTSZ04">ULU PANDAN</option>
	<option value="SGSZ07">UPPER PAYA LEBAR</option>
	<option value="BSSZ01">UPPER THOMSON</option>
	<option value="RCSZ10">VICTORIA</option>
	<option value="PGSZ05">WATERWAY EAST</option>
	<option value="JWSZ01">WENYA</option>
	<option value="CLSZ05">WEST COAST</option>
	<option value="WCSZ01">WESTERN WATER CATCHMENT</option>
	<option value="WDSZ05">WOODGROVE</option>
	<option value="WDSZ03">WOODLANDS EAST</option>
	<option value="WDSZ01">WOODLANDS REGIONAL CENTRE</option>
	<option value="WDSZ04">WOODLANDS SOUTH</option>
	<option value="WDSZ06">WOODLANDS WEST</option>
	<option value="TPSZ08">WOODLEIGH</option>
	<option value="TMSZ05">XILIN</option>
	<option value="CKSZ06">YEW TEE</option>
	<option value="AMSZ10">YIO CHU KANG</option>
	<option value="AMSZ12">YIO CHU KANG EAST</option>
	<option value="AMSZ11">YIO CHU KANG NORTH</option>
	<option value="AMSZ09">YIO CHU KANG WEST</option>
	<option value="YSSZ01">YISHUN CENTRAL</option>
	<option value="YSSZ03">YISHUN EAST</option>
	<option value="YSSZ04">YISHUN SOUTH</option>
	<option value="YSSZ09">YISHUN WEST</option>
	<option value="JESZ02">YUHUA EAST</option>
	<option value="JESZ01">YUHUA WEST</option>
	<option value="JWSZ08">YUNNAN</option>
</select></br></br>
<input type="submit">
</form>